{% extends "monitoramento/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-md-8">
        <div class = "content-section">
            <!-- Pesquisar CRSF token. O django requere que essa tag oculta seja adicionada por segurança-->
            <form method = "POST">
                {% csrf_token %}
                <fieldset class = "form-group">
                    <legend class = "border-bottom mb-4">Formulário de Cadastro</legend>
                    <!-- o método as_p renderiza o formulário como um parágrafo-->
                    {{ form|crispy }}
                </fieldset>
                <div class = "form-group">
                    <button class="btn btn-outline-info" type = "submit">Cadastrar</button>
                </div>
            </form>
            <div class = "border-top pt-3">
                <small class = "text-muted">Já possui uma conta? <a class = "ml-2" href="{% url 'login' %}">Logar</a> </small>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
  
 