<!-- carregando o arquivo css da pasta static (o css)-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" type="text/css" href="{% static 'monitoramento/main.css' %}">
    
    <!-- Se a página tiver um título, colocar ele após o título base. Senão, apenas utilizar o título base-->
    {% if title %}
        <title>Monitoramento - {{ title }}</title>
    {% else %}
        <title>Monitoramento</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">            
                <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'inicio-registros' %}">Monitoramento</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <!-- Pode usar a url direta no hrf (como /about) ou usar o nome da variável do arquivo urls.py -->
                    {% if request.user.is_superuser %}
                        <a class="nav-item nav-link" href="{% url 'inicio-registros' %}">Home</a>
                    {% endif %}
                        <a class="nav-item nav-link" href="{% url 'site-about' %}">Sobre</a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                    <!-- Checando se o usuário está autenticado com a função do django para exibir o botão certo-->
                    {% if user.is_authenticated %}                                               
                            <a class="nav-item nav-link" href="{% url 'site-acesso' %}">Ver acesso</a> 
                        {% if request.user.is_superuser %} 
                            <a class="nav-item nav-link" href="{% url 'register' %}">Registrar</a>
                        {% endif %}     
                        <a class="nav-item nav-link" href="{% url 'changePassword' %}">Alterar Senha</a>   
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Sair</a>                 
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Logar</a>                        
                    {% endif %}                  
                    </div>
                </div>
                </div>
            </nav>
        </header>
    <!-- Criando um bloco chamado content que pode ser sobrescrito por quem herdar essa página -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
            {% if messages %}
                {% for message in messages %}
                    <!-- Nesse caso ele vai pegar qual alerta o django enviou e utilizar a tag Bootstrap correta (sucesso, fala, etc) pois o django
                    funciona bem com o bootstrap -->
                    <div class = "alert alert-{{ message.tags}}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
            </div>                   
        </div>
    </main>
          
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>