{% extends "monitoramento/base.html" %}
{% block content %}

    <!--<article class="media content-section">  -->
    <!-- <div class="input-group mb-3">-->
  
    <form method="GET" action="{% url 'inicio-registros' %}" class="form-inline mb-3">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
        <input type="submit" class="btn btn-outline-info navbar-dark" value="Filtrar"/>
    </form>    

    <table class="table table-hover">
    <thead class="thead-dark">
        <tr>  
        <th scope="col">Nome</th>      
        <th scope="col">Sobrenome</th>
        <th scope="col">Sala Acessada</th>
        <th scope="col">Data</th>
        </tr>
    </thead>

    {% for registro in registros %}   
    <tbody>
        <tr>      
        <th scope="row">{{registro.usuario.first_name}}</th>
        <td>{{registro.usuario.last_name}}</td>
        <td>{{registro.sala_acesso}}</td>
        <td>{{registro.data_acesso}}</td>
        </tr>    
    </tbody>
    {% endfor %}

    </table>
    <!--</article>-->

    <!-- Paginação -->
    {% if is_paginated %}

        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}

            <!-- Se a pagina atual for igual ao num, quer dizer que está na página atual e deve ser exibida de forma diferente-->
            {% if page_obj.number == num %}
            
                <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>

                <!-- Se a página atual está entre as 3 páginas anteriores, imprimir-->
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}                
                    <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>                
            {% endif %}

        {% endfor %}

        {% if page_obj.has_next %}
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Proxima</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a>
        {% endif %}

    {% endif %}
{% endblock content %}
  

